body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

// Inline Lists
ul.inline {
  padding:0;
}
.inline li {
    display: inline;
}
// Social Icons
a.social {
  display:inline-block;
  background:@purple;
  width:5em;
  height:5em;
  margin:0 1em;
}
/*  IE 7 Notification */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

