.nav-fix {
  position: fixed;
  top: 0;
  width:85%;
  z-index: 1000;
}

.subnav-fix {
  position: fixed;
  top: 75px;
  width:85%;
  z-index: 1000;
}

@media (min-width: 768px) {
  // Navbar positioning foo
  .navbar-wrapper {
    margin-top: 20px;
  }
  // The navbar becomes detached from the top, so we round the corners //
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
}
