// Special class on .container surrounding .navbar, used for positioning it into place.
// .navbar-wrapper {
//   position: relative;
//   z-index: 15;
// }
// Utility class to fix navbar to top of page
.fix {
  position: fixed;
  top: 0;
  width:100;
  z-index: 1000;
}

@media (min-width: 768px) {
  // Navbar positioning foo
  .navbar-wrapper {
    margin-top: 20px;
  }
  // The navbar becomes detached from the top, so we round the corners //
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
}
